.signup {
  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-link {
      color: blue;
      text-decoration: underline;
    }
  }
}
